@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>A la nueva <a target="_self">Banca Basica</a>.</p>
    <hr />
    <span class="bg-info">Rol: @ViewBag.sessionv</span>
    
</div>
